 :root {
    --body-fondo: #1b335d;
    --texto-contenido: #c2d6eb;
    --color-link: #63d6e4;
  }
  
  html, body {
    background: var(--body-fondo);
  }
  
  header, nav, main, footer {
    border-radius: 16px;
  }
  
  header {
    background: #ce2f36;
    padding: 12px;
  }
  
  header h1 {
    color: var(--texto-contenido);
  }
  
  nav {
    background: #297d8c;
    display: inline-block;
    width: 300px;
    margin: 12px;
    margin-right: 6px;
    vertical-align: top;
  }
  
  nav li {
    color: var(--color-link);
  }
  
  main {
    background: #0e1722;
    color: var(--texto-contenido);
    display: inline-block;
    width: 800px;
    margin: 12px;
    margin-left: 6px;
  }
  
  main a {
    color: var(--color-link);
  }
  
  footer {
    color: var(--texto-contenido);
    background: #5d6573;
    padding: 12px;
  }